<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>iVaccination Game</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>General</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>DevMode</string>
			<key>Key</key>
			<string>pref_devMode</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Duration</string>
			<key>Key</key>
			<string>pref_duration</string>
			<key>DefaultValue</key>
			<string>30 Seconds</string>
			<key>Titles</key>
			<array>
				<string>30 Seconds</string>
				<string>1 Minute</string>
				<string>2 Minutes</string>
				<string>3 Minutes</string>
			</array>
			<key>Values</key>
			<array>
				<string>30 Seconds</string>
				<string>1 Minute</string>
				<string>2 Minutes</string>
				<string>3 Minutes</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Level</string>
			<key>Key</key>
			<string>pref_level</string>
			<key>DefaultValue</key>
			<string>City Japan</string>
			<key>Titles</key>
			<array>
				<string>CitySkyline</string>
				<string>Wallway</string>
				<string>Meadows</string>
				<string>City Streets</string>
				<string>City Japan</string>
				<string>City Night</string>
			</array>
			<key>Values</key>
			<array>
				<string>CitySkyline</string>
				<string>Wallway</string>
				<string>Meadows</string>
				<string>City Streets</string>
				<string>City Japan</string>
				<string>City Night</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Difficulty</string>
			<key>Key</key>
			<string>pref_difficulty</string>
			<key>DefaultValue</key>
			<string>Easy</string>
			<key>Titles</key>
			<array>
				<string>Easy</string>
				<string>Medium</string>
				<string>Hard</string>
				<string>Nightmare</string>
			</array>
			<key>Values</key>
			<array>
				<string>Easy</string>
				<string>Medium</string>
				<string>Hard</string>
				<string>Nightmare</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Sound</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Sound enabled</string>
			<key>Key</key>
			<string>sound_enabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Background music</string>
			<key>Key</key>
			<string>bg_music</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>slider_preference</string>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MinimumValueImage</key>
			<string></string>
			<key>MaximumValueImage</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Game Center</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use Game Center</string>
			<key>Key</key>
			<string>per_useGameCenter</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Upload Highscore</string>
			<key>Key</key>
			<string>pref_uploadHighscore</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
